<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="description" content="Weather information application"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<title>CultBeauty Bookmarklet- test project</title>

	<!-- Favicons for each devices, also as an icon for shortcuts -->
	<link rel="apple-touch-icon" sizes="57x57" href="./assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	
	<!-- Loading Google font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	
	<!-- Proper style definitions-->
	<link href="./styles/style.css" rel="stylesheet" />

</head>

<body>

	<header>
        <img class="header-logo" src="./assets/images/logo.png" alt="Logo" />
        <nav id="primary-menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="http://domainforssl.hu/portfolio/robertkoteles/" target="_blank">Portfolio</a></li>
            </ul>
        </nav>
        <button id="mobilemenu-trigger" class="mobilemenu-trigger">Menu<span></span></button>
    </header>

	<main>

		<section>
			
			<!-- Current information -->
			<div class="information-panel">
				<div class="infobox-bg"></div>

				<span class="loadArea">
					<div class="information-current">
						<h2>Cult Beauty</h2>
						<p>To install bookmarklet script please drag and drop the link below to your bookmark taskbar.</p>
						<div class="button-wrapper">
							<a class="button" href="javascript:!function(){!function(){%22use%20strict%22;function%20e(e,t,l){var%20n=document.createElement(%22tr%22),d=document.createElement(%22td%22);if(d.style.background=%22%23F1F1F1%22,d.style.fontWeight=%22bold%22,d.appendChild(document.createTextNode(e)),d.style.padding=%2210px%22,d.style.verticalAlign=%22top%22,l%26%26(d.colSpan=%222%22),n.appendChild(d),!l){var%20i=document.createElement(%22td%22);i.appendChild(document.createTextNode(t)),i.style.padding=%2210px%22,i.style.verticalAlign=%22top%22,n.appendChild(i)}o.appendChild(n)}var%20t,l,o,n;!function(){if(t=document.getElementsByTagName(%22body%22).item(0),document.getElementById(%22microdataInfoBox%22))return%20console.log(%22Info%20box%20is%20exist!%22),!1;(n=document.createElement(%22div%22)).setAttribute(%22id%22,%22microdataInfoBox%22),l=document.createElement(%22table%22),o=document.createElement(%22tbody%22);for(var%20d=document.querySelectorAll('[itemtype=%22http://schema.org/Product%22]').item(0).querySelectorAll(%22[itemprop]%22),i=0;i%3Cd.length-1;i++)if(d[i].tagName)if(d[i].querySelectorAll(%22[itemprop]%22).length)e(d[i].attributes.itemprop.value,%22%22,!0);else{var%20r=d[i].innerText;e(d[i].attributes.itemprop.value,r,!1)}l.appendChild(o),n.appendChild(l),t.appendChild(n),n.style.position=%22fixed%22,n.style.bottom=0,n.style.right=0,n.style.width=%2250%25%22,n.style.height=%22400px%22,n.style.overflow=%22auto%22,n.style.border=%225px%20solid%20%23ecc96b%22,n.style.zIndex=%2210000%22,n.style.backgroundColor=%22%23FFFFFF%22,l.style.width=%22100%25%22,l.style.border=%221px%20solid%20%23F1F1F1%22,l.style.fontSize=%2214px%22}()}()}();">Find microdata (Install)</a>
							<a class="button" href="documents/bookmarklet.zip">Download ZIP</a>

						</div>
					</div>



				</span>
			</div>


		</section>
	</main>

	<footer>
		<img class="footer-logo" src="./assets/images/logo-white.png" alt="Logo" />
        <p class="copyright" data-tooltip="Could I be your next workmate at Cult Beauty?">Built by &copy;Robert Koteles, 2017</p>
        <p class="copyright"><a href="https://darksky.net/poweredby/" target="_blank">Powered by Dark Sky</a></p>
    </footer>

<!-- Loading scripts at the end of the file, saving time for drawing in the browser -->
<script src="./js/lib/jquery.min.js"></script>
<script src="./js/scripts.min.js"></script>

</body>
</html>
